.gallery {
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 25px;
    width: 100%;
    max-width: 1240px;
    margin: 40px auto;

    @media screen and (max-width: 768px) {
        background-color: white;
    }
}