.gallery {
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 25px;
    width: 100%;
    max-width: 1240px;
    margin: 20px auto;
    padding: 20px 0;

    @media screen and (max-width: 768px) {
        padding: 0px;

        & a {
            width: 100%;
        }

        background-color: white;
    }
}