.Error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__title {
        color: #FF6060;
        font-size: 288px;
        font-weight: 700;
        margin: 40px auto;

        @media screen and (max-width: 1024px) {
            font-size: 192px;
        }

        @media screen and (max-width: 768px) {
            font-size: 96px;
        }
    }

    &__subtitle {

        color: #FF6060;
        font-size: 36px;
        text-align: center;

        @media screen and (max-width: 1024px) {
            font-size: 27px;
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__link {
        font-size: 18px;
        margin: 40px auto;

        @media screen and (max-width: 1024px) {
            font-size: 16px;
        }

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
}