.banner {
    margin: 0 100px;
    border-radius: 25px;
    position: relative;

    &__img {
        border-radius: 25px;
        height: 223px;
        width: 100%;
        object-fit: cover;
        box-shadow: 0px 4px 4px 0px #00000040;
        filter: brightness(40%);
    }

    &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        color: white;
        transform: translate(-50%, calc(-50% - 4px));
        font-size: 48px;
        font-weight: 700;
        margin-block: 0;
    }
}